<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Widget Template</title>

    <style>
      .img-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .picsum-img {
        margin: 1em;
      }
    </style>
  </head>

  <body>
    <div class="img-list">
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/picsum/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/0/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/1/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/2/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/3/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/4/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/5/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/picsum/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/0/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/1/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/2/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/3/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/4/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/5/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/picsum/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/0/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/1/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/2/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/3/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/4/200/300"
        alt="picsum"
      />
      <img
        class="picsum-img"
        src="https://picsum.photos/seed/5/200/300"
        alt="picsum"
      />
    </div>

    <div class="widget">
      <script type="text/props">
        {
          "background": "black",
          "color": "white",
          "endpoint": "http://localhost:9999"
        }
      </script>
    </div>
    <script async src="/bundle.js" data-mount-in=".widget"></script>
  </body>
</html>
